# Instructions

For the second part of the assignment today, we're going to get a little bit of practice with `Pandas`. We'll ask that you do a couple of different things using the new tools that we learned about (methods for combining data sets, `pd.cut`, and `pivot tables`).

# Assignment Questions

We'll be working with the `wine` datasets that are located in the `data` folder in this day's directory. 

1) Read the `winequality-red.csv` data into a `DataFrame`, and the `winequality-white.csv` into another `DataFrame`.

In [2]:
import pandas as pd
import numpy as np
white_df = pd.read_csv('data/winequality-white.csv', delimiter=';')
red_df = pd.read_csv('data/winequality-red.csv', delimiter=';')

2) Double check that you've read them in right by using some of the attributes and methods available on `DataFrames` for getting a general sense of your data (**Hint**: See `day10-intro_pandas`, `week5` if you need a refresher on these).

In [4]:
white_df.shape, red_df.shape

((4898, 12), (1599, 12))

In [5]:
white_df.columns, red_df.columns

(Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
        'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
        'pH', 'sulphates', 'alcohol', 'quality'],
       dtype='object'),
 Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
        'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
        'pH', 'sulphates', 'alcohol', 'quality'],
       dtype='object'))

In [6]:
white_df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6

In [7]:
red_df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5

In [11]:
white_df.info()
red_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [12]:
white_df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [13]:
red_df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

3) I've decided that this month I want to stay away from wines with relatively high alcohol content. To do that, I'm going to avoid any wines that have a greater alcohol content than the mean alcohol content, and you're going to help me do this. To achieve this, let's do the following: 

  * Find the mean alcohol content, separately, for reds and whites.  
  * Create a `Series` that holds whether each row in each `DataFrame` (the reds, and whites) has a higher alcohol content than the mean. 
  * Merge this `Series` onto the `DataFrame`. I can imagine doing this with either a `.join()` or using `pd.concat()`. For practice, do it with both. Note: merges with `Series` work the same way that they work with `DataFrames`.  
  * Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.

In [16]:
# Find the mean alcohol content, separately, for reds and whites.
alc_mean_white = white_df['alcohol'].mean()
alc_mean_red = red_df['alcohol'].mean()
alc_mean_white, alc_mean_red

(10.514267047774602, 10.422983114446529)

In [27]:
# Create a Series that holds whether each row in each DataFrame 
#   (the reds, and whites) has a higher alcohol content than the mean.
alc_high_white = white_df['alcohol'] > alc_mean_white #['alcohol']
alc_high_red = red_df['alcohol'] > alc_mean_red #['alcohol']
alc_high_white.name = 'alc_above_mean'
alc_high_red.name = 'alc_above_mean'

print(alc_high_white.head())
print(alc_high_red.head())

0    False
1    False
2    False
3    False
4    False
Name: alc_above_mean, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: alc_above_mean, dtype: bool

In [32]:
# Merge this Series onto the DataFrame. I can imagine doing this with either 
#   a .join() or using pd.concat(). For practice, do it with both. 
#   Note: merges with Series work the same way that they work with DataFrames.

# a) with join
white_df_join = white_df.join(alc_high_white)
red_df_join = red_df.join(alc_high_red)
red_df_join.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc_above_mean
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False

In [34]:
# b) with concat
white_df_concat = pd.concat([white_df, alc_high_white], axis = 1)
red_df_concat = pd.concat([red_df, alc_high_red], axis = 1)
red_df_concat.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc_above_mean
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,False
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,False
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,False
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,False

In [86]:
# Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.

white_df_high_alc = white_df_concat[white_df_concat['alc_above_mean']]
red_df_high_alc = red_df_concat[red_df_concat['alc_above_mean']]
white_df_high_alc.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc_above_mean
9,8.1,0.22,0.43,1.50,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6,True
10,8.1,0.27,0.41,1.45,0.033,11.0,63.0,0.9908,2.99,0.56,12.0,5,True
12,7.9,0.18,0.37,1.20,0.040,16.0,75.0,0.9920,3.18,0.63,10.8,5,True
13,6.6,0.16,0.40,1.50,0.044,48.0,143.0,0.9912,3.54,0.52,12.4,7,True
15,6.6,0.17,0.38,1.50,0.032,28.0,112.0,0.9914,3.25,0.55,11.4,7,True

In [87]:
red_df_high_alc.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc_above_mean
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,True
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,True
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.9969,3.30,0.75,10.5,7,True
31,6.9,0.685,0.00,2.5,0.105,22.0,37.0,0.9966,3.46,0.57,10.6,6,True
36,7.8,0.600,0.14,2.4,0.086,3.0,15.0,0.9975,3.42,0.60,10.8,6,True

In [88]:
# Note: Option 2 without constructing an extra df inbetween:
white_df_high_alc2 = white_df[white_df['alcohol'] > white_df['alcohol'].mean()]
red_df_high_alc2 = red_df[red_df['alcohol'] > red_df['alcohol'].mean()]

red_df_high_alc2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.9969,3.30,0.75,10.5,7
31,6.9,0.685,0.00,2.5,0.105,22.0,37.0,0.9966,3.46,0.57,10.6,6
36,7.8,0.600,0.14,2.4,0.086,3.0,15.0,0.9975,3.42,0.60,10.8,6

In [90]:
# Check if option 1 and option 2 return the same results
all(red_df_high_alc.iloc[:,:-1] == red_df_high_alc2)
all(white_df_high_alc.iloc[:,:-1] == white_df_high_alc2)

True

4) Let's say that I want to get started on cutting back next month. This time, though, I want to focus on staying away from those wines with a high acidity. Specifically, I want to stay away from those wines that are in the highest bin of fixed acidity (highest bin out of 5). You're now going to help me do this. To achieve this, let's do the following: 

 * Separate the rows in each `DataFrame` into 5 equal width bins based off their fixed acidity. 
 * Merge the resulting `Series` holding these 5 bins onto the original `DataFrame`. I can imagine also doing this with either `.join()` or using `pd.concat()`. Try doing it with both for practice. 
 * Return back to me all those rows that are **not in ** the top bin in terms of fixed acidity.

In [79]:
# Separate the rows in each DataFrame into 5 equal width bins based off their fixed acidity.
import numpy as np
red_df['fixed acidity'].min(), red_df['fixed acidity'].max()
fixed_acidity_bins_red = np.linspace(red_df['fixed acidity'].min(), red_df['fixed acidity'].max(), 6)
fixed_acidity_series_red = pd.cut(red_df['fixed acidity'], bins=fixed_acidity_bins_red, 
                              labels=range(1,6))   # fixed_acidity_bins_red[:-1]
fixed_acidity_series_red.name = 'fa_bin'

white_df['fixed acidity'].min(), white_df['fixed acidity'].max()
fixed_acidity_bins_white = np.linspace(white_df['fixed acidity'].min(), white_df['fixed acidity'].max(), 6)
fixed_acidity_series_white = pd.cut(white_df['fixed acidity'], bins=fixed_acidity_bins_white, 
                              labels=range(1,6))   # fixed_acidity_bins_white[:-1])
fixed_acidity_series_white.name = 'fa_bin'

fixed_acidity_series_red.head()
fixed_acidity_series_white.head()

0    2
1    2
2    3
3    2
4    2
Name: fa_bin, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [80]:
# Merge the resulting Series holding these 5 bins onto the original DataFrame. 
# I can imagine also doing this with either .join() or using pd.concat(). 
# Try doing it with both for practice.

# a) with concat
red_df_concat2 = pd.concat([red_df, fixed_acidity_series_red], axis=1)
red_df_concat2.head()

white_df_concat2 = pd.concat([white_df, fixed_acidity_series_white], axis=1)
white_df_concat2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fa_bin
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,2
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,2
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,3
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,2
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,2

In [81]:
# b) with join
red_df_join2 = red_df.join(fixed_acidity_series_red)
red_df_join2.head()

white_df_join2 = white_df.join(fixed_acidity_series_white)
white_df_join2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fa_bin
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,2
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,2
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,3
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,2
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,2

In [85]:
# Return back to me all those rows that are NOT in the top bin in terms of fixed acidity
red_df_low_acidity = red_df_join2[red_df_join2['fa_bin']!=5]
white_df_low_acidity = white_df_join2[white_df_join2['fa_bin']!=5]

white_df_low_acidity.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fa_bin
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,2
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,2
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,3
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,2
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,2

5) Let's say that I now want to know how much my decision to avoid those wines with higher `alcohol` content is going to limit the `quality` of wines that I can drink. To figure this out, I want to know a couple of things: 

 * The average `alcohol` content for those reds above the mean `alcohol` level, by quality.
 * The average `alcohol` content for those whites above the mean `alcohol` level, by quality. 
 
 Use a `pivot table` to solve this.

In [98]:
pivot_red_alc = pd.pivot_table(data = red_df_concat, values='alcohol', index='quality', 
                           columns='alc_above_mean')  #, aggfunc=np.mean)
pivot_red_alc[True].reset_index()

   quality       True
0        3  10.866667
1        4  11.295000
2        5  11.088686
3        6  11.437214
4        7  11.708236
5        8  12.368750

In [99]:
pivot_white_alc = pd.pivot_table(data = white_df_concat, values='alcohol', index='quality', 
                             columns='alc_above_mean')  #, aggfunc=np.mean)
pivot_white_alc

alc_above_mean      False      True
quality
3                9.558333  11.525000
4                9.636638  11.425532
5                9.481132  11.211099
6                9.679489  11.604366
7                9.666667  11.924761
8                9.469697  12.139437
9               10.400000  12.625000

6) Now, do the same for my decision to avoid wines with a high acidity next month: 

 * Find the average `alcohol` content for reds, by `quality` and `fixed acidity` quintile. 
 * Find the average `alcohol` content for whites, by `quality` and `fixed acidity` quintile. 
 
  Use a `pivot table` to solve this.

In [100]:
pivot_red_acidity = pd.pivot_table(data = red_df_concat2, values='alcohol', index='quality', 
                                   columns='fa_bin')  #, aggfunc=np.mean)
pivot_red_acidity

fa_bin           1          2          3          4          5
quality
3         9.875000  10.500000   9.150000   9.000000        NaN
4        10.857143   9.981667   9.920000   9.966667        NaN
5        10.304245   9.773727   9.846429  10.229630  12.050000
6        11.223529  10.431985  10.687395  10.480952  10.240000
7        12.195402  11.486413  11.383333  10.809524   9.866667
8        13.633333  11.937500  11.916667   9.800000        NaN

In [104]:
pivot_white_acidity = pd.pivot_table(data = white_df_concat2, values='alcohol', index='quality', 
                                     columns='fa_bin')  #, aggfunc=np.mean)
pivot_white_acidity

fa_bin       1     2     3    4     5
quality
3        11.70  12.6  12.4  9.7   NaN
4        13.50  12.9  11.4  9.9   NaN
5        13.60  13.4  12.9  9.7   NaN
6        14.00  13.6  13.0  9.5  11.1
7        14.05  14.2  13.3  NaN   NaN
8        14.00  13.4  12.7  NaN   NaN
9          NaN  12.9  10.4  NaN   NaN